.App {
  background-color: #743dfb;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
}

input {
  display: block;
  width: 100%;
}

.some_space {
  margin-top: 10px;
  margin-bottom: 2px;
}

* {
  margin: 0px
}
